*{
    margin: 0;
    padding: 0; 
   
    box-sizing: border-box;
}
body{
    padding: o;
    margin: 0px;
    
}
.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(36, 36, 36) 0%, rgb(0, 0, 0) 25%, rgb(26, 26, 26) 51%, #000000 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

 
  
  .label{
    margin-top: 170px;
    color: white;
   
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 18px; 
  }

 

  @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffffff, 0 0 15px #6d6d6d, 0 0 20px #a5a5a5, 0 0 40px #686868, 0 0 60px #969696, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  margin-top: 300px;
  position: absolute;
}

body {
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
 
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #050505, 0 0 10px #050505, 0 0 15px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #7c6767, 0 0 15px #FFDF2B, 0 0 20px #FFDF2B, 0 0 40px #FFDF2B, 0 0 60px #000000, 0 0 10px #000000, 0 0 98px #000000;
    color: #fff6a9;
  }
}


  